* {
  outline: none;
}

body {
  background-color: var(--color5);
  color: var(--color1);
  padding: 5%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 15px;
}

hr {
  width: 50%;
  border-style: solid;
  border-width: 2.5px;
  border-color: var(--color4);
  background-color: var(--color4);
  color: var(--color4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

div {
  background-color: var(--color4);
  border-radius: 15px;
  padding: 2.5%;
}

.flexbox {
  display: flex;
  flex-direction: row;
  background-color: #9B7E4680;
  padding: 5%;
}

.flexbox div:not(:first-child) {
  margin-left: 2.5%;
}

.flexbox div {
  width: calc(87.5% / 3);
  text-align: center;
}